
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateUser.cshtml";

}

<link href="@Url.Content("~/Content/User/")Styles/StyleSheet1.css" rel="stylesheet" />


<div>
    <img src="~/Content/User/Pictures/25498093_10156083250086392_3055358459592440349_n.jpg" width="250" height="200" />
    <img src="~/Content/User/Pictures/26168693_10156112569996392_1865513387697135357_n.jpg" width="250" height="200" />

    <img src="~/Content/User/Pictures/10906514_10153491650166392_63781220336708261_n.jpg" width="250" height="200" />
</div>

<div>

</div>

<p>
    <h2>
        Hello, my name is Julian Marques McAdoo. I am a recent graduate from Middle Tennessee State University with a bachelors degree in BBA with my major being in Computer Information Systems with a minor in business.

        I have a one year old son, who is named Lathan that I love in the whole wide world. I am an active person whoo loves to workout and play sports with my friends. I have a passsion for technology. I love playing videogames and coding.

        I have a lot of favorite videogames so I can't name them all, but I mostly play RPG games.
    </h2>
</p>

<p>
    <h2>
        I built this website from scratch and by no means is this my limit but to show you what I can do. The purpose of this website is to showcase future employers my skills so that one day I will be working with some of the best companies.

        If you want to know more about me and are interested you may click one of the social media links above and look at my profiles. I appreciate your time reading this and looking at my website. Thank you.
    </h2>
</p>



