
@{
    ViewBag.Title = "Resume";
    Layout = "~/Views/Shared/TemplateUser.cshtml";

}
<style type="text/css">
    .auto-style5 {
        width: 882px;
        height: 90px;
    }
    </style>
<body style="background-image: url('../../Content/User/Pictures/pp,550x550.jpg');                                                             ">

</body>
<img src="@Url.Content("~/Content/User/")Pictures/resume11.PNG" style="width: 881px" />

